.extract-data{
    width: 85%;
    /* background-color: #555; */
    border: 0.5px solid #24292e3b;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 6px;
    border-collapse: collapse;
    margin-top: 25px;
}